.HeaderBottom {
    &-logo {
        display: flex;
        align-items: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #22262A;
        
        svg {
            margin-right: 10px;
        }
    }
    
    &-link {
        position: relative;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #262626;
        transition: all ease 0.4s;
        padding: 25px 30px;

        &:hover {
            color: #40BFFF;
        }
    }
}