.SaleCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 415px;
    height: 360px;
    background-color: #F6F7F8;
    background-repeat: no-repeat;
    padding: 30px 50px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;

    &:first-child {
        background-image: url("../../assets/images/saleCardBg1.png");
    }
    &:nth-child(2) {
        background-image: url("../../assets/images/saleCardBg2.png");
    }
    &:last-child {
        background-image: url("../../assets/images/saleCardBg3.png");
    }

    &-title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.5px;
        color: #223263;
    }

    .oldPrice {
        font-family: "Poppins";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.5px;
        text-decoration-line: line-through;
        color: #9098B1;
        margin-right: 10px;
    }

    .persentage {
        font-family: "Poppins";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.5px;
        color: #FB7181;
    }

    &-newPrice {
        font-family: "Raleway";
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 180%;
        letter-spacing: 0.5px;
        color: #40BFFF;
    }
}