.Payment1 {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 50px;
    top: 20px;
    // bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 95%;
    background: #FFF;
    border-radius: 10px;
    position: fixed;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }


    &-title {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        text-transform: capitalize;
        color: #40BFFF;
        margin-bottom: 25px;
    }

    &-step {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Nunito";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-right: 25px;
        padding: 15px;
        border-radius: 50%;
        background: #DFDEDE;
        width: 35px;
        height: 35px;

        &:first-child {
            background: #40BFFF;
            box-shadow: 0px 10px 40px rgba(248, 161, 112, 0.2);
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &-line {
        height: 2px;
        width: 120px;
        background-color: #DFDEDE;
        position: absolute;
        z-index: -1;
    }

    &-left {
        width: 48%;

        &__title {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            display: flex;
            align-items: flex-end;
            text-transform: capitalize;
            color: #40BFFF;
            margin-bottom: 15px;
        }

        &__input {
            font-family: "Nunito";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            color: #999999;
            background: rgba(223, 222, 222, 0.3);
            border-radius: 10px;
            padding: 15px;
            width: 100%;
            border: none;
            outline: none;
            margin-bottom: 35px;
            transition: all ease 0.4s;
            border: 1px solid transparent;

            &:focus {
                border: 1px solid #33A0FF;
            }
        }

        &__label {
            font-family: "Poppins";
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 150%;
            letter-spacing: 0.5px;
            color: #223263;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 20px;
            transition: all ease 0.4s;
            cursor: pointer;
            border-radius: 4px;

            input {
                width: 20px;
                height: 20px;
                background: transparent;
                cursor: pointer;
            }

            &:hover {
                background: #EBF0FF;
            }

            svg {
                margin-right: 20px;
            }
        }
    }

    &-right {
        width: 48%;
        textarea {
            height: 125px;
            resize: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .paymentBtn {
        width: 340px;
        text-align: center;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        background: #33A0FF;
        border-radius: 10px;
        padding: 15px 30px;
        margin-top: 30px;
    }
}