.Cart {
    &-inner {
        margin-top: 50px;
    }
    &-tableStyles {
        padding: 1rem;
        margin-bottom: 100px;

        .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
            box-shadow: none;

            thead {
                border-bottom: none;

                tr {
                    th {
                        border: none;
                    }
                }
            }
        }
        
        tr {
            border-bottom: 1px solid #F6F7F8;
        }

        .pricetitle {
            font-family: "Poppins";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            color: #262626;
        }

        .counters {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 120px;
            height: 45px;
            background: rgb(246, 247, 248);
            left: 40px;
            right: 0;
            margin: auto;
            background: #F6F7F8;

            h5 {
                width: 1%;
            }
        }

        .theadTitle {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #22262A;
            padding: 20px;
        }

        .btn-title {
            font-family: "Proxima Nova Rg";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #262626;
            margin: 0 10px;
        }

        .btnCounter {
            padding: 15px;
        }

        .images {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .closeIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(255, 104, 117, 0.05);
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
                svg {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .Total {

        &-input {
            width: 370px;
            font-family: "Proxima Nova Rg";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #262626;
            opacity: 0.35;
            border: 2px solid #BCDDFE;
            padding: 15px 20px;
            outline: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            position: relative;
            overflow: hidden;
        }
    
        &-btn {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
            background: #40BFFF;
            padding: 14px 20px;
            // height: 100%;
            position: relative;
            // right: 400px;
            right:  50px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: all ease 0.4s;

            &:hover {
                background: #359ed3;
            }
        }

        .subtotal {
            font-family: "Poppins";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            color: #262626;
        }

        .total {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 45px;
            color: #22262A;
        }

        .totalBtn {
            width: 100%;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
            background: #33A0FF;
            padding: 15px 0;
            border-radius: 5px;
        }
    }
}   