@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.eot');
    src: url('./fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Poppins-Regular.woff') format('woff'),
        url('./fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Light.eot');
    src: url('./fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Poppins-Light.woff') format('woff'),
        url('./fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.eot');
    src: url('./fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Poppins-Medium.woff') format('woff'),
        url('./fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('./fonts/ProximaNova-Regular.eot');
    src: url('./fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/ProximaNova-Regular.woff') format('woff'),
        url('./fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.eot');
    src: url('./fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Raleway-Regular.woff') format('woff'),
        url('./fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Light.eot');
    src: url('./fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Raleway-Light.woff') format('woff'),
        url('./fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Medium.eot');
    src: url('./fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Raleway-Medium.woff') format('woff'),
        url('./fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Regular.eot');
    src: url('./fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nunito-Regular.woff') format('woff'),
        url('./fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Light.eot');
    src: url('./fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nunito-Light.woff') format('woff'),
        url('./fonts/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-Medium.eot');
    src: url('./fonts/Nunito-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nunito-Medium.woff') format('woff'),
        url('./fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dosis';
    src: url('./fonts/Dosis-Light.eot');
    src: url('./fonts/Dosis-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Dosis-Light.woff') format('woff'),
        url('./fonts/Dosis-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dosis';
    src: url('./fonts/Dosis-Regular.eot');
    src: url('./fonts/Dosis-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Dosis-Regular.woff') format('woff'),
        url('./fonts/Dosis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dosis';
    src: url('./fonts/Dosis-Medium.eot');
    src: url('./fonts/Dosis-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Dosis-Medium.woff') format('woff'),
        url('./fonts/Dosis-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}