.Products {
    .main {
        margin-top: 50px;

        .Products-left {
            width: 17%;
        }

        .Products-right {
            width: 80%;
        }

        .Brands {
            
        }
    }
}